.delegate-bio{
    /* border: 1px solid #2f2f2f;
    background: rgba(33,34,40,.5); */
    padding: 20px;
    margin-top: 20px;
}
.profile-left{
  border-radius: 20px;
  background: rgba(33,34,40,.5);
  min-height: 75vh;
  padding: 40px 20px;
}
.single-dao-profile{
    width:100%;
    margin: 0 auto;
    /* padding: 10px 30px; */
  }
  .container{
    margin: 20px 50px  ;
  }
  .mp-sec2{
    text-align: left;
    padding: 0px 50px;
  }
.listapi-tabBtn{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: "#060606";
  background-color: #b0f127;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  }
  .api-grid-profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 105%;
    margin: 0 auto;
    justify-content: center;
  }
  .profile-btnflex{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .profile-btnflex > button{
    border: none;
    background-color: #b0f127;
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
  }
  .profile-card{
    padding: 20px 20px;
  }
  .card-img-top{
    width: 300px;
  }